*{
    padding: 0;
    margin: 0;
}

.input{
    border: 1px solid black;
    border-radius: 12px;
    padding: 13px;
    margin: 10px 0;
    width: 100%;
  
}
input:focus{
    border: 1px solid blue;
}
.form{
    /* display: block; */
     
    max-width: 350px;
    padding: 20px;
    text-align: center;
    border-radius:6px;
    margin: 80px auto 0px;
    box-shadow: 1px 4px 4px 1px black;
 
}
.button{
    border: none;
    width: 100%;
    padding: 10px;
    background-color: rgb(162, 218, 107);
    border-radius: 6px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    margin-top: 10px;
    /* padding: 5px  100px; */
}
.button:hover{
    background-color: rgb(125, 234, 16);
    transition: .5s linear;
}
.withgoogle{
      display: flex;
      align-items: center; 
      color: black;  
      font-size: 22px;
      padding: 8px; 
      box-shadow: 1px 1px 1px 1px rgb(67, 65, 65);
      border-radius: 6px;
      margin-bottom: 10px;
      cursor: pointer;
}
.withgoogle:hover{
    box-shadow: 2px 2px 2px 2px rgb(67, 65, 65);
    transition: .5s linear;
}