*{
    margin: 0;
    padding: 0;

}
.home-image{
    width: 50vw;
    height: 80vh;
   display: block;
   border-radius: 6px;

}
.home{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
 
}
 
.title::first-line{
 font-size: 60px;
 font-weight: 700;
 color: blue;
}
 
 
 .btn{
   padding: 10px 40px;
   outline: none;
   border: none;
   border-radius:6px;
   background-color: aquamarine;
   color: black;
   margin: 10px ;
   cursor: pointer;
   display: block;
 }
 .btn:hover{
    background-color: rgb(18, 233, 161);
    transition: .5s linear;
 }
 