*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}
.flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: aliceblue;

}
.nablogo{
  font-size: 50px;
}
.nabvar{
  box-shadow: 2px 2px 2px 2px rgb(244, 240, 240);
}
.nabvar li {
  padding: 10px;

}
.ul  li:hover{
  background-color: rgb(161, 157, 157);
  border-radius: 6px;
  padding: 10px  ;
  transition: .5s linear;
}
.ulsignin {
  background-color: rgb(20, 19, 19);
  border-radius: 20px;
  color: white;
  /* padding: 0px 8px; */
  margin-right: 15px;
}
.ulsignin:hover{
    /* background-color:  black; */
    transition: .5s linear;
}
.ulsignin   a {
    color:aliceblue;
    font-size: 13px;
}
/** //  apple
