 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.jobcardDetails{
    width: 70vw;
    margin: auto;
    background-color: rgb(231, 238, 236);
    border: 1px solid black;
    border-radius: 6px;
    padding: 10px;
    
}
 .apply{
    background-color:blue;
    outline: none;
    padding: 5px 30px ;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    border: none;
 }