.loading {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    /* background-color: red; */
    border: 5px solid black;

    border-bottom: 5px solid #1fdc61;
    border-top: 5px solid #1bd318;
    animation: spin 2s linear infinite;
    margin: auto;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}